<!DOCTYPE html>
<html>
<head>
    <title>发布信息管理</title>
    #parse("sys/header.html")
    <script type="text/javascript" src="${rc.contextPath}/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/ckeditor/ckeditor_msg.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="名称">
            </div>
            <div class="form-group col-sm-2">
                <select data-placeholder="选择类目..." class="form-control" tabindex="2" @change="query" v-model="category">
                    <option value="">请选择类目</option>
                    <option value="1" hassubinfo="true">景点</option>
                    <option value="2" hassubinfo="true">农牧业</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>

            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" style="width: 100%;height: 100%">
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.name" placeholder="名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.address" placeholder="地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">电话号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.phone" placeholder="电话号码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.mobile" placeholder="手机号码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">链接</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.link" placeholder="链接"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">作者</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.author" placeholder="作者"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">类目</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="issue.category" placeholder="类目"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                    <textarea id="content" cols="20" rows="4" class="ckeditor" v-model="issue.content" name="content" style="overflow:auto"></textarea>
                    <!--<script type="text/javascript">CKEDITOR.replace('content')</script>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="${rc.contextPath}/js/xx/issue.js?_${date.systemTime}"></script>
</body>
</html>